<div class="container">
  <div class="row">
    <div class="col">
       <div class="d-flex justify-content-center mb-4 text-black">
         <h4 class="display-1">About</h4>
       </div>
        <div class="col mb-4 text-black" >
          <h5 class="text-center">
            このサイトは漫画の紹介をするコミュニティサイトです。<br>
            紹介したい漫画の感想、おすすめポイントを投稿したり<br>
            他ユーザーの投稿にコメントをしたりいいねを付けることができます。<br>
            このサイトを通して気になる作品を見つけたり、 同じ作品が好きな人との交流をお楽しみください！！<br>
          </h5>
        </div>
    </div>
  </div>
</div>