<div class="container">
  <div class="row pt-4 pb-5">
    <div class="col-2 p-2">
    </div>

    <div class="col-10">
      <div class="box">
        <div class="test1">
         <div id="top_page_img">
          <div id="theTarget">
            <div class="test1 pt-5">
              <div class="top-text">
              <p>
                このサイトは、漫画を紹介するコミュニティサイトです。<br>
                どなたでも閲覧はできますが投稿するには会員登録が必要です。<br>
                ＊ネタバレが含まれる場合がございます＊<br>
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>